.page__container {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    max-width: 1280px;
}

@media screen and (min-width: 768px){
    .page__container {
        margin-top: 28px;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (min-width: 1024px){
    .page__container {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (min-width: 1280px){
    .page__container {
        margin-left: calc((100% - 1280px) / 2 + 48px);
        margin-right: calc((100% - 1280px) / 2 + 48px);
    }
}